#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "BOX-2 Wi-Fi Indirect Display Driver"
#define VER_INTERNALNAME_STR        "Box2Display"
#define VER_ORIGINALFILENAME_STR    "Box2Display.dll"

#include "common.ver"
